﻿@model SalesMount.Models.Forms.IdentifierForm
@{
	Layout = "~/Views/Shared/_LayoutCms.cshtml";
	ViewBag.Title = Html.T("Add Tag");

	var destails = ViewBag.Destails as List<SalesMount.Models.Db.RestaurantDetail>;
	List<SelectListItem> restaurants = new List<SelectListItem>();
	if (destails != null && destails.Count > 0)
	{
		foreach (var item in destails)
		{
			 restaurants.Add(new SelectListItem(){
				Text = item.Name,
				Value = item.Restaurant.ID.ToString()
			});
		}
		
	}
}
<div class="">
	<div class="pageContent">
		<div class="sectionTitle">
			<h2>@Html.T("New Tag")</h2>
		</div>
		@using (Html.BeginForm())
		{
			<div class="form-horizontal restaurantEditForm">
				@Html.AntiForgeryToken()
				@Html.HiddenFor(model => model.TagGuid)
				<div class="form-group">
					<label class="control-label col-md-2">@Html.T("Restaurant")</label>
					<div class="col-md-10">
						@Html.DropDownList("RestaurantId", restaurants)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">@Html.T("Remark")</label>
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Remark)
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-2"></label>
					<div class="col-md-10">
						<button type="submit" class="btn btn-success">@Html.T("Save")</button>
					</div>
				</div>
			</div>
		}
	</div>
			
</div>