﻿@model IList<SalesMount.Models.Db.RestaurantDetail>
@{
	Layout = "~/Views/Shared/_LayoutCms.cshtml";
	ViewBag.Title = Html.T("Welcome");
}
<div class="">
	<div class="pageContent">
		<div class="sectionTitle">
			<div class="actionBttns">
				<a href="@Url.Action("Restaurant")"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Html.T("Create restaurant")</a>
			</div>
			<h2>@Html.T("My Restaurants")</h2>
		</div>
		@foreach (var detail in Model)
		{
			<div>
				<a href="@Url.Action("restaurantDetails", new { id = detail.Restaurant.ID })">
					<span>@detail.Name</span>
				</a>
			</div>
		}
	</div>
</div>
