﻿@model SalesMount.Models.Forms.RestaurantForm

@{
	if (ViewBag.RestaurantDetail == null)
	{
		ViewBag.Title = Html.T("Create Restaurant");
	}
	else
	{
		ViewBag.Title = ViewBag.RestaurantDetail.Name;
	}
	
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
	List<SelectListItem> LanguageList = new List<SelectListItem>();
	LanguageList.Add(new SelectListItem()
	{
		Value = "zh-HK",
		Text = Html.T("Traditional Chinese")
	});
	LanguageList.Add(new SelectListItem()
	{
		Value = "en-US",
		Text = Html.T("English")
	});
}
<div class="pageContent">
	@if (ViewBag.RestaurantDetail == null)
	{
		<h2>@Html.T("Create Restaurant")</h2>
	}
	else
	{
		<h2>@ViewBag.RestaurantDetail.Name</h2>
		<ul class="nav nav-tabs" id="subNavMenu">
			<li class="active"><a href="@Url.Action("RestaurantDetails", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Html.T("Info")</a></li>
			<li><a href="@Url.Action("RestaurantMenu", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @Html.T("Menus")</a></li>
			<li><a href="@Url.Action("RestaurantOrders", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @Html.T("Orders")</a></li>
			<li><a href="@Url.Action("RestaurantTags", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @Html.T("Tags")</a></li>
			<li><a href="@Url.Action("RestaurantStat", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @Html.T("Statistics")</a></li>
		</ul>
	}

	@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div class="form-horizontal restaurantEditForm">
			@Html.HiddenFor(model => model.DetailID)
			@Html.HiddenFor(model => model.RestaurantId)
			@Html.HiddenFor(model => model.Image)
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@if (Model.Language == null)
					{
						@Html.DropDownListFor(model => model.Language, LanguageList, new { @class = "form-control" })
					}
					else
					{
						@Html.DropDownListFor(model => model.Language, LanguageList, new { @class = "form-control", disabled = "disabled" })
						@Html.HiddenFor(model => model.Language)
					}
					@Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-2">@Html.T("Image")</label>
				<div class="col-md-10">
					<div class="imageFrame">
						<input type="file" name="imageFile" value="" accept=".jpg, .jpeg, .png" id="fileSelector" />
						@if (Model.Image != null)
						{
							<img src="~/Content/Uploads/@Model.Image" />
						}
						else
						{
							<div class="fileMessage">@Html.T("Click or Drag file here.")</div>
						}
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="@Html.T("Save")" class="btn btn-success" />
				</div>
			</div>
		</div>
	}
</div>
<script>
	function handleFileSelect(evt) {
		var files = evt.target.files; // FileList object

		for (var i = 0, f; f = files[i]; i++) {

			// Only process image files.
			if (!f.type.match('image.*')) {
				continue;
			}

			var reader = new FileReader();

			reader.onload = (function (theFile) {
				return function (e) {
					var imageFrame = $(".imageFrame");
					var img = imageFrame.find("img");
					if (!img.length) {
						img = $("<img/>").appendTo(imageFrame);
					}
					
					img.attr("src", e.target.result);
					$(".imageFrame .fileMessage").hide();
				};
			})(f);

			reader.readAsDataURL(f);
			break;
		}
	}
	document.getElementById('fileSelector').addEventListener('change', handleFileSelect, false);
</script>