﻿
@{
	ViewBag.Title = ViewBag.RestaurantDetail.Name;
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
<div class="pageContent">
	<h2>@ViewBag.RestaurantDetail.Name</h2>
	<ul class="nav nav-tabs" id="subNavMenu">
		<li><a href="@Url.Action("RestaurantDetails", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Html.T("Info")</a></li>
		<li><a href="@Url.Action("RestaurantMenu", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @Html.T("Menus")</a></li>
		<li class="active"><a href="@Url.Action("RestaurantOrders", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @Html.T("Orders")</a></li>
		<li><a href="@Url.Action("RestaurantTags", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @Html.T("Tags")</a></li>
		<li><a href="@Url.Action("RestaurantStat", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @Html.T("Statistics")</a></li>
	</ul>
	<div class="innerContent">
		@if (ViewBag.orders != null)
		{
			String lastOrderTime = new DateTime().ToRelativeTime();
			<ol class="orderList">
				@foreach (Order item in ViewBag.orders)
				{
					String orderTime = item.OrderTime.ToRelativeTime();
					if (!lastOrderTime.Equals(orderTime))
					{
						lastOrderTime = orderTime;
						<li class="timeMarker">@orderTime</li>
					}
					double price = item.Price * item.Quantity;
					<li>
						<div class="orderContent">
							<span class="name">@item.Name</span>
							<div class="orderInfo">
								<span class="tagRemark">@item.SourceIdentifier.Remark</span>
								<span class="price">@Html.T("Price"): @price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-us"))</span>
								<span class="quantity">@Html.T("Quantity"): @item.Quantity</span>
							</div>
						</div>
					</li>
				}
			</ol>
		}
		else
		{
			<div></div>
		}
	</div>
</div>
