﻿@{
	ViewBag.Title = ViewBag.RestaurantDetail.Name;
	Layout = "~/Views/Shared/_LayoutCms.cshtml";
	Html.AddContentScript("~/Content/Js/Chart.min.js");
	
}
<script>
	Chart.defaults.global.animationSteps = 15;
	var restaurantId = "@ViewBag.RestaurantId";
</script>
<div class="pageContent">
	<h2>@ViewBag.RestaurantDetail.Name</h2>
	<ul class="nav nav-tabs" id="subNavMenu">
		<li><a href="@Url.Action("RestaurantDetails", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Html.T("Info")</a></li>
		<li><a href="@Url.Action("RestaurantMenu", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @Html.T("Menus")</a></li>
		<li><a href="@Url.Action("RestaurantOrders", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @Html.T("Orders")</a></li>
		<li><a href="@Url.Action("RestaurantTags", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @Html.T("Tags")</a></li>
		<li class="active"><a href="@Url.Action("RestaurantStat", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @Html.T("Statistics")</a></li>
	</ul>
	<div class="innerContent">
		<div class="chartWrap">
			<h3>@Html.T("Revenue")</h3>
			<div class="incomeType">
				<a href="javascript:void(0)" onclick="loadIncomeData('GetHourlyIncome', this);" class="active">Hourly</a>
				<a href="javascript:void(0)" onclick="loadIncomeData('GetDailyIncome', this);">Daily</a>
				<a href="javascript:void(0)" onclick="loadIncomeData('GetMonthlyIncome', this)">Monthly</a>
			</div>
			<div class="chart">
				<canvas id="incomeChart"></canvas>
			</div>
			<script>
				(function () {
					var ctx = document.getElementById("incomeChart").getContext("2d");
					var incomeChart = new Chart(ctx);
					var chartUpdateLoop = null;
					var incomeLineChart = null;
					var lastData = null;
					function loadIncomeData(type, elm) {
						if (chartUpdateLoop) {
							clearTimeout(chartUpdateLoop);
							chartUpdateLoop = null;
						}
						$.ajax({
							url: "/api/StatApi/" + type + "/" + restaurantId,
							data: { langCode: "@System.Threading.Thread.CurrentThread.CurrentUICulture.Name" },
							success: function (data) {
								chartType = "GetHourlyIncome";
								if (incomeLineChart) {
									incomeLineChart.destroy();
								}
								var chartOption = { animation: false };
								var changeData = data.datasets[0].data;
								if (lastData) {
									chartOption.animation = lastData[lastData.length - 1] != changeData[changeData.length - 1];
									console.log(chartOption);
								}
								lastData = changeData;

								incomeLineChart = incomeChart.Line(data, chartOption);

								if (elm) {
									$(".incomeType .active").removeClass("active");
									elm.className = "active";
									console.log(elm);
								}

								chartUpdateLoop = setTimeout(function () {
									chartUpdateLoop = null;
									loadIncomeData(type);
								}, 5000);
							}
						});
					}
					loadIncomeData("GetHourlyIncome");
					window.loadIncomeData = loadIncomeData;
				})();
			</script>
		</div>
		<div class="chartWrap chartHalfWrap">
			<h3>@Html.T("Length of stay")</h3>
			<div class="chart">
				<canvas id="stayChart"></canvas>
			</div>
			<script>
				(function () {
					var ctx = document.getElementById("stayChart").getContext("2d");
					var stayChart = new Chart(ctx).Doughnut([
						{
							value: 2,
							color: "#F7464A",
							highlight: "#FF5A5E",
							label: "<1 mins"
						},
						{
							value: 6,
							color: "#fd885c",
							highlight: "#ff9c70",
							label: "1 - 5 mins"
						},
						{
							value: 13,
							color: "#fdcd5c",
							highlight: "#fff870",
							label: "5 - 15 mins"
						},
						{
							value: 25,
							color: "#5ca4fd",
							highlight: "#70a7ff",
							label: "15 - 30 mins"
						},
						{
							value: 8,
							color: "#a35cfd",
							highlight: "#c970ff",
							label: ">30 mins"
						}
					]);
				})();
			</script>
		</div>
		<div class="chartWrap chartHalfWrap">
			<h3>@Html.T("Gender")</h3>
			<div class="chart">
				<canvas id="genderChart"></canvas>
			</div>
			<script>
				(function () {
					var ctx = document.getElementById("genderChart").getContext("2d");
					var genderChart = new Chart(ctx).Doughnut([
						{
							value: 3,
							color: "#fd885c",
							highlight: "#ff9c70",
							label: "Female"
						},
						{
							value: 2,
							color: "#5ca4fd",
							highlight: "#70a7ff",
							label: "Male"
						}
					]);
				})();
			</script>
		</div>
	</div>
</div>