﻿@{
	ViewBag.Title = ViewBag.RestaurantDetail.Name;
	Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

<div class="pageContent">
	<h2>@ViewBag.RestaurantDetail.Name</h2>
	<ul class="nav nav-tabs" id="subNavMenu">
		<li><a href="@Url.Action("RestaurantDetails", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Html.T("Info")</a></li>
		<li class="active"><a href="@Url.Action("RestaurantMenu", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @Html.T("Menus")</a></li>
		<li><a href="@Url.Action("RestaurantOrders", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @Html.T("Orders")</a></li>
		<li><a href="@Url.Action("RestaurantTags", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @Html.T("Tags")</a></li>
		<li><a href="@Url.Action("RestaurantStat", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @Html.T("Statistics")</a></li>
	</ul>
	
	<div class="langMenuWrap innerContent">
		@foreach (var detailPair in ViewBag.Details as Dictionary<String, RestaurantDetail>)
		{
			var deatail = detailPair.Value;
			<div class="langMenu">
				@if (deatail.Language == "zh-HK")
				{
					<h3>@Html.T("Traditional Chinese")</h3>
				}
				else
				{
					<h3>@Html.T("English")</h3>
				}
				@foreach (var menu in deatail.Menus.OrderBy(m => m.Sequence))
				{
					<div class="menuSection">
						<div class="sectionHeader">
							<h3>@menu.Title</h3>
							<a href="@Url.Action("RestaurantMenuEdit", new { id = ViewBag.RestaurantId, deatailId = deatail.ID, menuId = menu.ID })" class="menuEdit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
						</div>
						<ul>
							@foreach (var item in menu.RestaurantMenuItems)
							{
								<li class="menuItem">
									<span class="price">@item.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-us"))</span>
									<span class="name">@item.Name</span>
								</li>
							}
						</ul>
					</div>
				}
				<a href="@Url.Action("RestaurantMenuEdit", new { id = ViewBag.RestaurantId, deatailId = deatail.ID })">@Html.T("Add Menu")</a>
			</div>
		}
	</div>
</div>

