﻿@{
	ViewBag.Title = ViewBag.RestaurantDetail.Name;
	Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
<div class="pageContent">
	<h2>@ViewBag.RestaurantDetail.Name</h2>
	<ul class="nav nav-tabs" id="subNavMenu">
		<li><a href="@Url.Action("RestaurantDetails", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Html.T("Info")</a></li>
		<li><a href="@Url.Action("RestaurantMenu", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @Html.T("Menus")</a></li>
		<li><a href="@Url.Action("RestaurantOrders", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @Html.T("Orders")</a></li>
		<li class="active"><a href="@Url.Action("RestaurantTags", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @Html.T("Tags")</a></li>
		<li><a href="@Url.Action("RestaurantStat", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @Html.T("Statistics")</a></li>
	</ul>
	<div class="innerContent">
		@foreach (Identifier identifier in ViewBag.Identifiers)
		{
			<div class="tagBlockWrap">
				<div class="tagBlock">
					<div class="tagIcon"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
					<div class="tagGuid">@identifier.TagGuid</div>
					<div class="tagRemark">@identifier.Remark</div>
				</div>
			</div>
		}
	</div>
</div>