﻿@model SalesMount.Models.Forms.RestaurantMenuForm
@{
	ViewBag.Title = "RestaurantOrders";
	Layout = "~/Views/Shared/_LayoutCms.cshtml";

	int menuItemCount = 0;
	int maxSequence = 0;
	if (Model.Items != null && Model.Items.Count() > 0)
	{
		maxSequence = Model.Items.Max(m => m.Sequence);
	}
}
<div class="pageContent">
	<h2>@ViewBag.RestaurantDetail.Name</h2>
	<ul class="nav nav-tabs" id="subNavMenu">
		<li><a href="@Url.Action("RestaurantDetails", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Html.T("Info")</a></li>
		<li class="active"><a href="@Url.Action("RestaurantMenu", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @Html.T("Menus")</a></li>
		<li><a href="@Url.Action("RestaurantOrders", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @Html.T("Orders")</a></li>
		<li><a href="@Url.Action("RestaurantTags", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @Html.T("Tags")</a></li>
		<li><a href="@Url.Action("RestaurantStat", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @Html.T("Statistics")</a></li>
	</ul>

	@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div class="form-horizontal restaurantEditForm">
			<input type="hidden" name="ID" value="@Model.ID" />
			@Html.HiddenFor(model => model.RestaurantId)
			@Html.HiddenFor(model => model.DetailID)
			<div class="form-group">
				<label class="control-label col-md-2">@Html.T("Menu Name")</label>
				<div class="col-md-10">
					@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">@Html.T("Description")</label>
				<div class="col-md-10">
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">@Html.T("Menu Sequence")</label>
				<div class="col-md-10">
					@Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Sequence, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">@Html.T("Menu Image")</label>
				<div class="col-md-10">
					@Html.HiddenFor(model => model.Image)
					<div class="imageFrame">
						<input type="file" name="imageFile" value="" accept=".jpg, .jpeg, .png" id="fileSelector" />
						@if (Model.Image != null)
						{
							<img src="~/Content/Uploads/@Model.Image" />
						}
						else
						{
							<div class="fileMessage">@Html.T("Click or Drag file here.")</div>
						}
					</div>

				</div>
			</div>

			<div class="form-group menuFoodEdit">
				<label class="control-label col-md-2">@Html.T("Cuisine")</label>
				<div class="col-md-10" id="cuisineList">
					@if (Model.Items != null)
					{
						foreach (var restaurantMenuItem in Model.Items)
						{
							<div class="form-inline">
								<input type="hidden" name="Items[@menuItemCount].ID" value="@restaurantMenuItem.ID" />
								<input type="hidden" name="Items[@menuItemCount].Sequence" value="@restaurantMenuItem.Sequence" />
								<div class="form-group">
									<input type="text" name="Items[@menuItemCount].Name" class="form-control" value="@restaurantMenuItem.Name" placeholder="@Html.T("Cuisine Name")" />
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="text" name="Items[@menuItemCount].Price" class="form-control" value="@restaurantMenuItem.Price" placeholder="@Html.T("Price")" />
									</div>
								</div>
							</div>
							menuItemCount++;
						}
					}
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="button" class="btn btn-default" onclick="addCuisineItem()">@Html.T("Add Cuisine")</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-success">@Html.T("Save")</button>
				</div>
			</div>
		</div>
	}
</div>

<div style="display: none;" id="cuisineFormItem">
	<div class="form-inline">
		<input type="hidden" name="Items[{menuItemCount}].ID" value="0" />
		<input type="hidden" name="Items[{menuItemCount}].Sequence" value="{Sequence}" />
		<div class="form-group">
			<input type="text" name="Items[{menuItemCount}].Name" class="form-control" value="" placeholder="@Html.T("Cuisine Name")" />
		</div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">$</div>
				<input type="text" name="Items[{menuItemCount}].Price" class="form-control" value="" placeholder="@Html.T("Price")" />
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var menuItemCount = @menuItemCount;
	
	var maxSequence = @maxSequence;

	function addCuisineItem() {
		var cuisineFormItem = $("#cuisineFormItem").html();
		cuisineFormItem = cuisineFormItem.replace(/\{menuItemCount\}/g, menuItemCount++);
		cuisineFormItem = cuisineFormItem.replace(/\{Sequence\}/g, maxSequence++);
		$("#cuisineList").append($(cuisineFormItem));
	}

	function handleFileSelect(evt) {
		var files = evt.target.files; // FileList object

		for (var i = 0, f; f = files[i]; i++) {

			// Only process image files.
			if (!f.type.match('image.*')) {
				continue;
			}

			var reader = new FileReader();

			reader.onload = (function (theFile) {
				return function (e) {
					var imageFrame = $(".imageFrame");
					var img = imageFrame.find("img");
					if (!img.length) {
						img = $("<img/>").appendTo(imageFrame);
					}

					img.attr("src", e.target.result);
					$(".imageFrame .fileMessage").hide();
				};
			})(f);

			reader.readAsDataURL(f);
			break;
		}
	}
	document.getElementById('fileSelector').addEventListener('change', handleFileSelect, false);
</script>