﻿
@{
    ViewBag.Title = "RestaurantDetails";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";

	var RestaurantDetails = ViewBag.RestaurantDetails as Dictionary<String, RestaurantDetail>;
}

<div class="pageContent">
	<h2>@ViewBag.RestaurantDetail.Name</h2>
	<ul class="nav nav-tabs" id="subNavMenu">
		<li class="active"><a href="@Url.Action("RestaurantDetails", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Html.T("Info")</a></li>
		<li><a href="@Url.Action("RestaurantMenu", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @Html.T("Menus")</a></li>
		<li><a href="@Url.Action("RestaurantOrders", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @Html.T("Orders")</a></li>
		<li><a href="@Url.Action("RestaurantTags", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> @Html.T("Tags")</a></li>
		<li><a href="@Url.Action("RestaurantStat", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @Html.T("Statistics")</a></li>
	</ul>
	<div class="innerContent">
		@if (RestaurantDetails.Count() < 2)
		{
			<div>
				<a href="@Url.Action("Restaurant", new { id = ViewBag.RestaurantId })"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> @Html.T("Add")</a>
			</div>
		}
		@foreach (var item in ViewBag.RestaurantDetails as Dictionary<String, RestaurantDetail>)
		{
			if (item.Value.Language == "zh-HK")
			{
				<h3>@Html.T("Traditional Chinese")</h3>
			}
			else
			{
				<h3>@Html.T("English")</h3>
			}
			<div class="restaurantDetails">
				<div class="Name">@item.Value.Name</div>
				<div class="Description">@item.Value.Description</div>
				<div class="Tel">@item.Value.Tel</div>
				<div class="Address">@item.Value.Address</div>
				<a href="@Url.Action("Restaurant", new { id = ViewBag.RestaurantId, deatailId = item.Value.ID })"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> @Html.T("Edit")</a>
			</div>
		}
		
	</div>
</div>
