﻿@{
	Html.AddContentCss("~/Content/css/appStyle.css");
	Html.AddContentScript("~/Scripts/jquery-1.10.2.min.js", ScriptPriority.HIGH);
	Html.PassJsConfig("lang", UICulture);
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
	@Html.FlushScripts()
</head>
<body>
    <div class="appContent">
        @RenderBody()
    </div>
</body>
</html>
