﻿@{
	Html.AddContentCss("~/Content/Fonts/DroidSans.css");
	//Html.AddContentCss("~/Content/css/homeStyle.css");
	Html.AddContentScript("~/Scripts/jquery-1.10.2.min.js", ScriptPriority.HIGH);
	Html.PassJsConfig("lang", UICulture);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - SalesMount</title>
	<link href="@Url.Content("~/Content/css/homeStyle.css")" rel="stylesheet" media="(min-width: 800px)" />
	<link href="@Url.Content("~/Content/css/mobileStyle.css")" rel="stylesheet" media="(max-width: 800px)" />
	@Html.FlushScripts()
</head>
<body>
	<header class="fixedHeader">
		<div class="content">
			<a href="@Url.Action("index", "home")" class="headerLogo"><img src="~/Content/Images/logo-head.png" /><span>SalesMount</span></a>
			<div class="userAction">
				@if (LoginedSession.Current == null)
				{
					<a href="@Url.Action("signup","users")" class="signUpBttn">@Html.T("Sign up")</a>
					<a href="@Url.Action("login","users")" class="loginBttn">@Html.T("Login")</a>
				}
				else
				{
					<a href="@Url.Action("profile", "users")" class="profileBttn">@Html.T("Hi, {0}", LoginedSession.Current.DisplayName)</a>
					<a href="@Url.Action("index", "cms")" class="restaurantBttn">@Html.T("Restaurant CMS")</a>
					<a href="@Url.Action("logout", "users")" class="logoutBttn">@Html.T("Logout")</a>
				}
			</div>
		</div>
	</header>
    
	@RenderBody()
    
	<footer class="section sectionNav">
		<div class="content">
			<h4>@Html.T("Navigation")</h4>
			<ul>
				<li><a href="@Url.Action("signup","users")">@Html.T("Sign up")</a></li>
				<li><a href="#">@Html.T("About us")</a></li>
				<li><a href="#">@Html.T("Support")</a></li>
			</ul>
			<h4>@Html.T("Policies and Terms")</h4>
			<ul>
				<li><a href="#">@Html.T("Privacy & cookies")</a></li>
				<li><a href="#">@Html.T("Terms of use")</a></li>
				<li><a href="#">@Html.T("Trademarks")</a></li>
			</ul>
			<h4>@Html.T("Languages")</h4>
			<ul>
				<li><a href="@Url.CurruntUrl(new { lang = "zh-HK" })">繁體中文</a></li>
				<li><a href="@Url.CurruntUrl(new { lang = "en-US" })">English</a></li>
			</ul>
			<p class="copyRight">SalesMount &copy; 2015</p>
		</div>
	</footer>
</body>
</html>
