﻿@{
	Html.AddContentCss("~/Content/css/bootstrap.min.css", ScriptPriority.HIGH);
	Html.AddContentCss("~/Content/css/cmsStyle.css");
	Html.AddContentScript("~/Scripts/jquery-1.10.2.min.js", ScriptPriority.HIGH);
	Html.AddContentScript("~/Content/Js/jQuery.sticky.js", ScriptPriority.HIGH);
	Html.AddContentScript("~/Content/Js/cmsCommon.js", ScriptPriority.HIGH);
	Html.PassJsConfig("lang", UICulture);
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - SalesMount CMS</title>
	@Html.FlushScripts()
</head>
<body>
	<header class="fixedHeader">
		<div class="content">
			<a href="@Url.Action("index", "cms")" class="headerLogo"><img src="~/Content/Images/logo-head.png" /><span>SalesMount</span><span class="smallWord">cms</span></a>
			<div class="userAction">
				<a href="@Url.Action("profile", "users")" class="profileBttn">@Html.T("Hi, {0}", LoginedSession.Current.DisplayName)</a>
				<a href="@Url.Action("logout", "users")" class="logoutBttn">@Html.T("Logout")</a>
			</div>
		</div>
	</header>

	@RenderBody()

</body>
</html>