﻿@model SalesMount.Models.Forms.ActivationForm
@{
    ViewBag.Title = Html.T("Activation");
	if (AppHelper.IsApp())
	{
		Layout = "~/Views/Shared/_LayoutApp.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_LayoutSite.cshtml";
	}
}

<div class="section">
	<div class="pageContent">
		@if (ViewBag.IsSuccess == null || !ViewBag.IsSuccess)
		{
			<div class="activationFormBox">
				<h2>@Html.T("Activation")</h2>
				@using (Html.BeginForm("activation", "users", FormMethod.Get))
				{
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Html.T("Email") } })
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.ActivationCode, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.EditorFor(model => model.ActivationCode, new { htmlAttributes = new { @class = "form-control", placeholder = Html.T("Email") } })
							@Html.ValidationMessageFor(model => model.ActivationCode, "", new { @class = "text-danger" })
						</div>
					</div>
					<div>
						<button type="submit" class="actionBttn">@Html.T("Active")</button>
					</div>
				}
			</div>
		}
		else
		{
			<h2>@Html.T("Activation Success")</h2>
			<div>@Html.T("Account was actived")</div>
		}
	</div>
</div>

