﻿@{
	ViewBag.Title = "Account Activation";
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<p style="color: #727282;">
	Hi @ViewData["FirstName"],<br />
	We are pleased to inform you that your account was ready!<br />
	Please click bolow button to activate your account.
</p>
<div style="overflow: hidden;">
	<a style="display: block; border-radius: 4px; background-color: #824CC1; padding: 10px; margin: 15px auto; max-width: 210px; color: #f0f0f0; text-decoration:none; text-align: center;" href="@Url.Action("activation", "users", new { email = ViewData["Email"], activationCode = ViewData["ActivationCode"] }, Request.Url.Scheme)">Active Now!</a>
</div>
<p style="color: #727282;">
	Alternately, you may enter your activation code (<b>@ViewData["ActivationCode"]</b>)
	on this page <a href="@Url.Action("activation", "users", null, Request.Url.Scheme)">@Url.Action("activation", "users", null, Request.Url.Scheme)</a>
</p>
