﻿@model SalesMount.Models.Forms.LoginForm
@{
	ViewBag.Title = Html.T("Login");
	if (AppHelper.IsApp())
	{
		Layout = "~/Views/Shared/_LayoutApp.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_LayoutSite.cshtml";
	}
}

<div class="loginFormWrap">
	<div class="loginForm content">
		<div class="loginFormBox">
			<h2>Login</h2>
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.HiddenFor(model => model.RedirectTo)
				<div class="form-group">
					@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
					<div class="fieldWrap">
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Html.T("Email") } })
						@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
					<div class="fieldWrap">
						@Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = Html.T("Password") })
						@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
					</div>
				</div>
				<div>
					<button type="submit" class="actionBttn">@Html.T("Login")</button>
				</div>
			}
		</div>
	</div>
</div>

