﻿@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
	Html.AddContentScript("~/Content/Js/jquery.sticky.js");
}

<div class="orderHistory">
	<div>
		<h2>@Html.T("Orders History")</h2>
	</div>
	@if (ViewBag.orders != null)
	{
		String lastOrderTime = new DateTime() .ToRelativeTime();
		<div class="listHeader listBorder">
			<span class="price">@Html.T("Price")</span>
			<span class="quantity">@Html.T("Quantity")</span>
		</div>
		<ol class="orderList">
		@foreach (Order item in ViewBag.orders)
		{
			String orderTime = item.OrderTime.ToRelativeTime();
			if (!lastOrderTime.Equals(orderTime))
			{
				lastOrderTime = orderTime;
				<li class="timeMarker">@orderTime</li>
			}
			double price = item.Price * item.Quantity;
			<li>
				<span class="price">@price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-us"))</span>
				<span class="quantity">@item.Quantity</span>
				<span class="name">@item.Name</span>
			</li>
		}
		</ol>
	}
	else
	{
		<div></div>
	}
</div>
<script>
	$(function () {
		$(".listHeader").sticky({ topSpacing: 0 });
	});
</script>

