﻿@model SalesMount.Models.Db.User

@{
	ViewBag.Title = Html.T("Sign up succeed!");
	if (AppHelper.IsApp())
	{
		Layout = "~/Views/Shared/_LayoutApp.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_LayoutSite.cshtml";
	}
}


<div class="section">
	<div class="pageContent">
		<h2>@Html.T("Sign up succeed!")</h2>
		<p>@Html.T("Thank you!")</p>
		<p>@Html.RawT("The activation code was sent to {0}. After received the code, please go to activation page <a href=\"{1}\">{1}</a>.", Model.Email, Url.Action("activation", "users", new { }, Request.Url.Scheme))</p>
	</div>
</div>
