﻿@model SalesMount.Models.Forms.RegistrationForm
@{
	if (AppHelper.IsApp())
	{
		Layout = "~/Views/Shared/_LayoutApp.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_LayoutSite.cshtml";
	}
	ViewBag.Title = Html.T("Sign up");

	List<SelectListItem> GenderList = new List<SelectListItem>();
	GenderList.Add(new SelectListItem()
	{
		Value = "M",
		Text = Html.T("Male")
	});
	GenderList.Add(new SelectListItem()
	{
		Value = "F",
		Text = Html.T("Female")
	});
}

<div class="section">
	<div class="signUpFormContent pageContent">
		<div class="signUpForm">
			<h2>@Html.T("Sign up")</h2>
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				<div class="form-horizontal">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.UserGuid)
					<div class="form-group lastName">
						@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.T("Last Name") } })
							@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group firstName">
						@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.T("First Name") } })
							@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.T("Display Name") } })
							@Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.BYear, htmlAttributes: new { @class = "control-label bDayLabel" })
						<div class="fieldWrap">
							@Html.EditorFor(model => model.BYear, new { htmlAttributes = new { @class = "form-control bDayField", placeholder = Html.T("YYYY") } })
							@Html.EditorFor(model => model.BMonth, new { htmlAttributes = new { @class = "form-control bDayField", placeholder = Html.T("MM") } })
							@Html.EditorFor(model => model.BDay, new { htmlAttributes = new { @class = "form-control bDayField", placeholder = Html.T("DD") } })
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.DropDownListFor(model => model.Gender, GenderList, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Html.T("Email") } })
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = Html.T("Password") })
							@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
						<div class="fieldWrap">
							@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = Html.T("Confirm your password"), @Autocomplete = "off" })
							@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="fieldWrap">
							<div class="policyLinks">@Html.RawT("I agree SalesMount <a href=\"{0}\">Terms of use</a> and <a href=\"{1}\">Privacy & cookies policy</a>", "#", "#")</div>
							<button type="submit" class="actionBttn">@Html.T("Agree and Sign up")</button>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
