﻿html, body{
	font-family: 'Microsoft JhengHei','LiHei Pro Medium',Helvetica,'Helvetica Neue',Arial;
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-weight: 300;
	height: 100%;
	min-width: 300px;
	background-color: #f8f8f8;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
button{
	display: inline-block;
	padding: 3px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 1.2em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.appContent h2{
	margin: 20px 0 10px;
}
.appContent{
	max-width: 400px;
	margin: auto;
	background-color: #fff;
	overflow: hidden;
	min-height: 100%;
	box-shadow: #808080 0px 0px 2px;
}
.menuHeader{
	padding-top: 60%;
	background-color:#ddd;
	background-size: cover;
	position: relative;
}
.menuHeader h2{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 15px;
	margin: 0;
	text-shadow: 1px 1px 3px #FFF;
	background-image: radial-gradient( at bottom left, #fff, rgba(255, 255, 255, 0.1));
}
.sectionHeader{
	padding-top: 50%;
	background-color: #ededed;
	background-size: cover;
	position: relative;
}
.sectionHeader h3{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 15px;
	margin: 0;
	text-shadow: 1px 1px 2px #FFF;
	background-image: radial-gradient( at bottom left, #fff, rgba(255, 255, 255, 0.1));
}
.menu{
	padding-bottom: 37px;
}
.menuSection ul{
	list-style: none;
	padding: 20px 0;
	margin: 0;
}
.menuSection ul li{
	line-height: 1.6em;
	padding: 0 15px;
	margin: 2px 0;
	overflow: hidden;
}
.menuSection ul li .quantity{
	display: inline-block;
	border-radius: 12px;
	padding: 0 6px;
	min-width: 12px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background-color: #3c006b;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	float: left;
	margin-top: 3px;
}
.menuSection ul li .price{
	float: right;
}
.menuSection ul li .name{
	margin-left: 36px;
	display: block;
}
.menuSection ul li:nth-child(2n+1){
	background-color: #f8f8f8;
}
#mask{
	background-color: #808080;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	transition: opacity 1s;
}
#mask.show{
	visibility: visible;
	opacity: 0.8;
}
#quantitySelectBox {
	background-color: #f1f1f1;
	border: 1px solid #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 10px;
	width: 160px;
	height: 65px;
	visibility: hidden;
	transition: transform 0.1s;
	transition: -webkit-transform 0.1s;
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-o-transform: scale(0.1);
	-webkit-transform: scale(0.1);
	transform: scale(0);
}
#quantitySelectBox.show {
	visibility: visible;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
#quantitySelectBox .quantityBox{
	display: block;
	width: 100%;
	margin: auto;
	max-width: 300px;
	border: 1px solid #ddd;
	padding: 5px 10px;
	line-height: 1.1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#quantitySelectBox .actionBttns{
	margin-top: 10px;
	overflow: hidden;
}
#quantitySelectBox .actionBttns button{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 48%;
	display: block;
	float: left;
	margin: 0 1%;
}
#quantitySelectBox .actionBttns button.yesBttn{
	background-color: #449D44;
	color: #fff;
	font-weight: bold;
}
#quantitySelectBox .actionBttns button.noBttn{
	background-color: #999;
	color: #fff;
}
.bottomActionBar{
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
	border-top: 1px solid #fff;
}
.bottomActionBar.show{
	opacity: 1;
	visibility: visible;
}
#orderAction {
	max-width: 370px;
	padding: 7px 15px;
	margin: auto;
	overflow: hidden;
}
#orderBttn {
	background-color: #449D44;
	color: #fff;
	float: right;
}
.orderAmountWrap{
	font-size: 14px;
	line-height: 27px;
	vertical-align: baseline;
}
#orderAmount{
	font-weight: 600;
	font-size: 15px;
}
.signUpForm{
	padding: 10px 30px 20px;
}
.signUpForm .control-label{
	display: none;
	color: #a0a0a0;
	font-size: 15px;
	padding: 0 6px;
}
.signUpForm .form-group{
	margin-bottom: 10px;
}
.signUpForm .form-group input[type=text], .signUpForm .form-group input[type=password], .signUpForm .form-group input.bDayField {
	width: 100%;
	border: 1px solid #ddd;
	padding: 5px 10px;
	line-height: 1.5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.signUpForm .form-group input.bDayField {
	width: 32.33%;
}
.signUpForm .control-label.bDayLabel{
	display:block;
}
.signUpForm .policyLinks{
	margin-bottom: 10px;
	font-size: 15px;
}
.signUpForm .actionBttn{
	color: #FFF;
	font-size: 16px;
	background: none repeat scroll 0% 0% #7DC643;
	line-height: 1.3em;
	text-decoration: none;
	padding: 0.2em 0.5em;
	border-radius: 2px;
	border: 1px solid #378238;
	font-weight: bold;
	display: block;
}

.orderHistory{
	padding: 10px;
}
.orderHistory .listHeader{
	overflow: hidden;
	padding: 0 6px;
}
.orderHistory .listHeader.listBorder{
}
.orderHistory .is-sticky .listHeader.listBorder{
	background-color: rgba(255, 255, 255, 0.9);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%);
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
}
.orderHistory .orderList{
	list-style: none;
	margin: -33px 0 0;
	padding: 0;
}
.orderHistory .orderList li{
	line-height: 1.4em;
	padding: 0 6px;
}
.orderHistory .orderList li.timeMarker{
	color: #999;
	border-bottom: 1px solid #ccc;
	margin: 1em 0 0.2em;
	font-size: 0.8em;
}
.orderHistory .orderList li .name{
	padding-right: 5px;
}
.orderHistory .quantity{
	float: right;
	font-size: 0.8em;
	color: #777;
	width: 60px;
	text-align: right;
}
.orderHistory .price{
	float: right;
	font-size: 0.8em;
	color: #777;
	width: 70px;
	text-align: right;
}
.orderHistory.orderReceipt .orderList{
	margin: 0;
}