﻿html, body{
	font-family: 'Microsoft JhengHei','LiHei Pro Medium',Helvetica,'Helvetica Neue',Arial;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-weight: 300;
	height: 100%;
}
footer,header{
	display:block;
}
h1{
	font-weight: bold;
}
h2{
	margin: 0.83em 0 0.4em;
	font-weight: bold;
}
.fixedHeader {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 10000;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #bbb;
}
.headerLogo{
	line-height: 48px;
	font-size: 36px;
	text-decoration: none;
	color: #4F358E;
	font-weight: bolder;
	font-weight: 400;
	font-family: droid_sansregular, Arial, Helvetica, sans-serif;
}
.headerLogo img{
	vertical-align: middle;
	margin-right: 8px;
	display: inline-block;
	float: left;
}
.headerLogo span{
	display:inline-block;
	color: #4F358E;
}
.headerLogo span.smallWord{
	font-size: 0.6em;
	margin-left: 0.1em;
	color: #808080;
}
.pageContent {
	width: 880px;
	margin: auto;
	padding: 80px 0 20px;
	min-height: 400px;
}
.content{
	width: 900px;
	margin: auto;
	padding: 10px;
	position: relative;
}
.is-sticky #subNavMenu{
	box-shadow: 0px 3px 5px -6px #000;
}
#subNavMenu{
	z-index: 500;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.95);
	padding-top: 10px;
}
.innerContent{
	margin: 20px 0;
}
.menuEdit .glyphicon{
	text-shadow: 1px 1px 2px #fff;
}
.userAction{
	float: right;
	height: 48px;
	line-height: 48px;
}
.userAction a{
	text-decoration: none;
	margin: 0 5px;
	color: #303030;
}
.userAction a:hover{
	text-decoration: underline;
}

.sectionTitle{
	position: relative;
}
.sectionTitle h2{
	border-bottom: 1px solid #707070;
}
.actionBttns{
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.orderList{
	list-style: none;
	padding: 0;
}
.orderList li {
	display: block;
	float: left;
	width: 33.33%;
	margin: 0;
	padding: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.orderList li .orderContent .name{
	display: block;
	min-height: 46px;
}
.orderList li .orderContent .tagRemark{
	display: block;
}
.orderList li .quantity{
	float: right;
}
.orderList li .orderContent{
	border: 1px solid #ededed;
	padding: 9px 14px;;
}
.orderList li .orderInfo{
	border-top: 1px solid #ddd;
}
.orderList li.timeMarker{
	display: block;
	float: none;
	clear: both;
	border-bottom: 1px solid #ccc;
	padding: 0;
	padding: 25px 0 0px;
	margin-bottom: 15px;
	width: auto;
	
}

.chartWrap{
	margin-bottom: 35px;
	clear: both;
}
.chartWrap .chart{
	padding: 20px;
}
.chartWrap canvas{
	width: 100%;
	display: block;
	height:350px;
}
.chartHalfWrap{
	width: 50%;
	float: left;
	overflow: hidden;
	clear: none;
}
.incomeType a{
	margin-right: 10px;
}
.incomeType a.active{
	text-decoration: underline;
}
.langMenuWrap{
	overflow: hidden;
}
.langMenu{
	float: left;
	width: 320px;
	margin: 0 10px;
}
.menuEdit{
	top: 5px;
	right: 5px;
	position: absolute;
}
/*
	menu section
*/
.menuHeader{
	padding-top: 60%;
	background-color:#ddd;
	position: relative;
}
.menuHeader h2{
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 10px;
}
.sectionHeader{
	padding-top: 50%;
	background-color: #ededed;
	position: relative;
}
.sectionHeader h3{
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 10px;
}
.menu{
	padding-bottom: 37px;
}
.menuSection ul{
	list-style: none;
	padding: 20px 0;
	margin: 0;
}
.menuSection ul li{
	line-height: 1.6em;
	padding: 0 15px;
	margin: 2px 0;
	overflow: hidden;
}
.menuSection ul li .quantity{
	display: inline-block;
	border-radius: 12px;
	padding: 0 6px;
	min-width: 12px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background-color: #3c006b;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	float: left;
	margin-top: 3px;
}
.menuSection ul li .price{
	float: right;
}
.menuSection ul li .name{
	margin-left: 36px;
	display: block;
}
.menuSection ul li:nth-child(2n+1){
	background-color: #f8f8f8;
}

.restaurantEditForm{
	margin: 20px 0 10px;
	padding: 0 50px;
}

@media(min-width: 768px){
	.restaurantEditForm .col-md-10{
		float: left;
		width: 70%;
	}
	.restaurantEditForm .col-md-2{
		float: left;
		width: 25%;
	}
}
.restaurantEditForm .imageFrame{
	height: 200px;
	position: relative;
	background-color: #eee;
}
.restaurantEditForm .imageFrame input{
	display: block;
	position: absolute;
	opacity: 0.01;
	z-index: 10;
	width: 100%;
	height: 100%;
	font-weight: 600;
}
.restaurantEditForm .imageFrame .fileMessage{
	position: absolute;
	z-index: 1;
	color: #808080;
	top: 50%;
	left: 50%;
	line-height: 22px;
	margin-top: -11px;
	width: 180px;
	margin-left: -80px;
}
.restaurantEditForm .imageFrame img{
	position: relative;
	z-index: 5;
	display: block;
	max-height: 100%;
	max-width: 100%;
}
/*
	menu section end
*/

.menuFoodEdit{
	border-top: 1px #808080 solid;
	padding: 15px 10px;
}
.menuFoodEdit .input-group{
	max-width: 150px;
}
.menuFoodEdit .form-group{
	margin-right: 20px;
}
.menuFoodEdit .form-inline{
	margin:  0 0 10px 0;
}

.tagBlockWrap {
	float: left;
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
}
.tagBlock{
	border: 1px solid #bbb;
	background-color:#f5f5f5;
	overflow: hidden;
}
.tagBlock .tagIcon{
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background-color: #299d2c;
}
.tagBlock .tagGuid{
	padding: 3px 5px 3px 70px;
	background-color: #ededed;
}
.tagBlock .tagRemark{
	padding: 3px 5px 3px 70px;
}

#loadingMask{
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(60, 60, 60, 0.5);
	background-image: radial-gradient(rgba(60, 60, 60, 0), rgba(60, 60, 60, 0.9));
	top: 0;
	left: 0;
	z-index: 10000000;
	color: #FFFFFF;
}
#loadingMask.show{
	display: block;
}
#loadingMask .loadingWord{
	position: absolute;
	width: 400px;
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	cursor: default;
}
#loadingMask .loadingIcons{
	position: relative;
	height: 16px;
}
#loadingMask .loadingIcons .icon{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #FFFFFF;
	position: absolute;
	opacity: 0;
}
#loadingMask.show .loadingIcons .icon{
	animation: loadingDot 5s linear infinite;
	-webkit-animation: loadingDot 5s linear infinite;
}
#loadingMask .loadingIcons .icon:nth-child(1){
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
#loadingMask .loadingIcons .icon:nth-child(2){
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
#loadingMask .loadingIcons .icon:nth-child(3){
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
#loadingMask .loadingIcons .icon:nth-child(4){
	animation-delay: 1.1s;
	-webkit-animation-delay: 1.1s;
}
#loadingMask .loadingIcons .icon:nth-child(5){
	animation-delay: 1.3s;
	-webkit-animation-delay: 1.3s;
}
@keyframes loadingDot {
	0%{
		opacity: 0;
		left: 0%;
		animation-timing-function: ease-in;
		-webkit-animation-timing-function: ease-in;
	}
	20%{
		opacity: 1;
		left: 35%;
		animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
	}
	60%{
		opacity: 1;
		left: 65%;
		animation-timing-function: ease-out;
		-webkit-animation-timing-function: ease-out;
	}
	80%{
		opacity: 0;
		left: 100%;
	}
	100%{
		opacity: 0;
		left: 100%;
	}
}
@-webkit-keyframes loadingDot {
	0%{
		opacity: 0;
		left: 0%;
		animation-timing-function: ease-in;
		-webkit-animation-timing-function: ease-in;
	}
	20%{
		opacity: 1;
		left: 35%;
		animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
	}
	60%{
		opacity: 1;
		left: 65%;
		animation-timing-function: ease-out;
		-webkit-animation-timing-function: ease-out;
	}
	80%{
		opacity: 0;
		left: 100%;
	}
	100%{
		opacity: 0;
		left: 100%;
	}
}