﻿html, body{
	font-family: 'Microsoft JhengHei','LiHei Pro Medium',Helvetica,'Helvetica Neue',Arial;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-weight: 300;
	height: 100%;
	min-width: 950px;
}
footer,header{
	display:block;
}
h1{
	font-weight: bold;
}
h2{
	margin: 0.83em 0 0.4em;
}
.fixedHeader {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 10000;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #bbb;
}
.headerLogo{
	line-height: 48px;
	font-size: 36px;
	text-decoration: none;
	color: #4F358E;
	font-weight: bolder;
	font-weight: 400;
	font-family: droid_sansregular, Arial, Helvetica, sans-serif;
}
.headerLogo img{
	vertical-align: middle;
	margin-right: 8px;
	display: inline-block;
	float: left;
}
.headerLogo span{
	display:inline-block;
}
.userAction{
	float: right;
	height: 48px;
	line-height: 48px;
}
.userAction .signUpBttn{
	display: inline-block;
	color: #fff;
	background: #7DC643;
	line-height: 1.3em;
	text-decoration: none;
	padding: 0.2em 0.3em;
	border-radius: 3px;
	border: 1px solid #378238;
	font-weight: bold;
	margin: 0 5px;
}
.userAction .signUpBttn:hover{
	box-shadow: 0 0 2px #286029;
}
.userAction a{
	text-decoration: none;
	margin: 0 5px;
	color: #303030;
}
.userAction a:hover{
	text-decoration: underline;
}
.pageContent {
	width: 880px;
	margin: auto;
	padding: 80px 0 20px;
	min-height: 400px;
}
.content{
	width: 900px;
	margin: auto;
	padding: 10px;
	position: relative;
}
.section1{
	background: url(../Images/section1.jpg) no-repeat center center #606060;
	background-size: cover;
	height: 500px;
}
.section1 .smLogo{
	display: block;
	margin: 125px auto 0;
}
.section1 h1{
	color: #ffffff;
	text-shadow: 0 0 10px #000;
	font-size: 46px;
	margin: 25px 0 0 0;
	text-align: center;
	font-family: droid_sansregular,Arial,Helvetica,sans-serif;
}
.section1 h2{
	color: #ffffff;
	text-shadow: 0 0 3px #000;
	margin: 10px auto 0;
	text-align: center;
}
.section2, .section4{
	height: 400px;
}
.section3{
	height: 400px;
	background: url(../Images/section2.jpg) no-repeat center center #606060;
	background-size: cover;
}
.atRestaurant1{
	margin: 3em auto 0;
}
.atRestaurant2{
	margin: 1.0em auto 0;
}
.atRestaurant1, .atRestaurant2{
	font-size: 2em;
	text-align:center;
}
.redStrong{
	font-weight: bold;
	color: #ca2026;
}
.tapNfc1, .tapNfc2, .tapNfc3{
	font-size: 2em;
	text-align:center;
	max-width: 600px;
	margin-top: 0.5em;
	font-weight: bold;
	text-shadow: 0px 0px 2px #666;
	color: #fff;
}
.tapNfc1{
	margin-top: 2em;
}
.tapNfc1 .redStrong, .tapNfc2 .redStrong, .tapNfc3 .redStrong{
	font-size: 1.2em;
	text-shadow: none;
}
#nfcPhone{
	position: absolute;
	left: 635px;
	top: 22px;
}
#nfcIcon{
	position: absolute;
	left: 120px;
	top: 220px;
	z-index: 1;
}
#phoneOverNfc{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
#appScreen{
	background-color: #c22b2b;
	position: absolute;
	width: 197px;
	z-index: 3;
	top: 23px;
	left: 11px;
}
.section4 .waiting{
	text-align: center;
	font-size: 2em;
	margin-top: 4em;
}
.section4 .waiting span{
	display: inline-block;
}
.section5{
	height: 400px;
	background: url(../Images/section3.jpg) no-repeat center center #606060;
	background-size: cover;
}
.section5 .dining{
	text-align: center;
	font-size: 2.2em;
	color: #fff;
	margin-top: 2.5em;
	text-shadow: 1px 1px 3px #000;
	font-weight: bold;
}
.sectionDownload{
	height: 300px;
	background-color: #fefefe;
	text-align: center;
}
.sectionDownload h2{
	margin-top: 80px;
}
.androidPlayLink{
	margin: auto;
}
.androidPlayLink img{
	height: 55px;
}
.sectionNav{
	background-color: #000;
	color: #fff;
	font-size: 12px;
	color: #8d8d8d;
}
.sectionNav .content{
	padding-left: 25px;
}
.sectionNav h4{
	margin-bottom: 0;
}
.sectionNav .copyRight{
	font-family: Arial, Helvetica, sans-serif;
}
.sectionNav ul{
	list-style: none;
	padding: 0;
	margin-top: 5px;
}
.sectionNav a{
	color: #cbcbcb;
	text-decoration: none;
}
.sectionNav a:hover{
	text-decoration: underline;
	color: #dddddd;
}

/**Login page*/
.loginFormWrap {
	padding-top: 80px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	min-height: 400px;
	background: url(../Images/login_background.jpg) no-repeat;
	background-size: cover;
	background-color: #000;
}
.loginForm{
	height: 100%;
}
.loginFormBox{
	position: absolute;
	right: 5%;
	top: 15%;
	width: 230px;
	padding: 10px 20px;
	background-color: #f2f2f2;
	background-color: rgba(242, 242, 242, 0.90);
}
.loginFormBox h2{
	margin: 0.2em 0;
}
.loginFormBox .form-group{
	margin-bottom: 10px;
}
.loginFormBox input {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.loginFormBox .control-label{
	margin-bottom: 8px;
	display: block;
}
.loginForm .actionBttn{
	margin-top: 20px;
}
.loginForm .validation-summary-errors ul{
	list-style: none;
	padding: 0;
	background-color: #c22b2b;
	background-color: rgba(194, 43, 43, 0.9);
	color: #f0f0f0;
	padding: 4px 5px;
}

.signUpForm, .activationFormBox{
	max-width: 220px;
	background-color: #f2f2f2;
	background-color: rgba(242, 242, 242, 0.90);
	padding: 10px;
}
.signUpForm h2{
	margin: 0.6em 0 0.4em;
}
.signUpForm .form-group, .activationFormBox .form-group{
	margin: 0 5px 15px;
	clear: both;
}
.signUpForm .form-group.firstName{
	float: left;
	clear: right;
}
.signUpForm .form-group.lastName{
	float: left;
}
.signUpForm .form-group input, .activationFormBox .form-group input {
	width: 210px;
}
.signUpForm .form-group input.bDayField{
	width: 66px;
}
.fieldWrap{
	position: relative;
}
.form-group .field-validation-error {
	position: absolute;
	left: 0;
	top: 28px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 3px 5px;
	visibility: hidden;
	width: 100%;
	z-index: 1;
	border-bottom: solid 1px #e10000;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.signUpForm .firstName .field-validation-error{
	right: 0;
	left: auto;
}
.signUpForm  .field-validation-error{
	width: 210px;
}
.form-group input:focus + .field-validation-error{
	opacity: 1;
	visibility:visible;
}
.policyLinks{
	color: #919191;
	font-size: 0.8em;
	margin-bottom: 0.9em;
}
.policyLinks a{
	color: #8f8f8f;
}
.signUpForm .form-group.lastName input, .signUpForm .form-group.firstName input{
	width: 100px;
}
.field-validation-error{
	font-size: 0.8em;
	color: #e12d2d;
	display: block;
}
.input-validation-error{
	border-color: #c22b2b !important;
}
.input-validation-error::-webkit-input-placeholder{
	color: #c22b2b;
	opacity: 0.5;
}
.input-validation-error::-moz-placeholder{
	color: #c22b2b;
}
.input-validation-error:-ms-input-placeholder{
	color: #c22b2b;
}

button.actionBttn{
	color: #FFF;
	background: none repeat scroll 0% 0% #7DC643;
	line-height: 1.3em;
	text-decoration: none;
	padding: 0.2em 0.5em;
	border-radius: 2px;
	border: 1px solid #378238;
	font-weight: bold;
	display: block;
	margin: 5px auto;
	cursor: pointer;
}
input {
    padding: 3px 5px;
    border: 1px solid #CCC;
    box-sizing: border-box;
}