﻿
@{
	ViewBag.Title = "城市餐聽";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div class="menu">
	<div class="menuHeader">
		<h2>城市餐聽</h2>
	</div>
	<div class="menuSection">
		<div class="sectionHeader">
			<h3>每日精選</h3>
		</div>
		<ul>
			<li>
				<input type="checkbox" />
				<span>菜遠牛腩煎麵</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>粟米火腿蛋炒飯</span>
				<span class="price">$33</span>
			</li>
		</ul>
	</div>

	<div class="menuSection">
		<div class="sectionHeader">
			<h3>炒飯</h3>
		</div>
		<ul>
			<li>
				<input type="checkbox" />
				<span>菠蘿蝦炒飯</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>生炒雞絲飯</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>西炒飯</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>粟米火腿蛋炒飯</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>菜遠牛腩煎麵</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>咖哩牛肉炒飯</span>
				<span class="price">$32</span>
			</li>
		</ul>
	</div>

	<div class="menuSection">
		<div class="sectionHeader">
			<h3>煎麵類</h3>
		</div>
		<ul>
			<li>
				<input type="checkbox" />
				<span>菜遠斑球煎麵</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>菜遠牛腩煎麵</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>鮮茄牛肉煎麵</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>沙茶牛肉煎麵</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>豉汁排骨煎麵</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>黑椒牛肉煎麵</span>
				<span class="price">$32</span>
			</li>
		</ul>
	</div>

	<div class="menuSection">
		<div class="sectionHeader">
			<h3>炒粉麵類</h3>
		</div>
		<ul>
			<li>
				<input type="checkbox" />
				<span>干炒牛河</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>沙嗲牛肉濕炒河</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>豉汁排骨濕炒河</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>馬來炒貴刁</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>滑蛋蝦濕炒河</span>
				<span class="price">$32</span>
			</li>
			<li>
				<input type="checkbox" />
				<span>豉汁牛肉濕炒河</span>
				<span class="price">$32</span>
			</li>
		</ul>
	</div>
</div>