﻿@{
	ViewBag.Title = "城市餐聽";
	Layout = "~/Views/Shared/_LayoutApp.cshtml";
	RestaurantDetail deatail = ViewBag.Deatail as RestaurantDetail;
	int itemCounter = 0;

	String headerImg = "";
	if (deatail.Image != null && !deatail.Image.IsEmpty())
	{
		headerImg = String.Format("background-image: url({0});", Url.Content("~/Content/Uploads/" + deatail.Image));
	}
}

<div class="menu">
	<div class="menuHeader" style="@headerImg">
		<h2>@deatail.Name</h2>
	</div>
	<form id="orderForm" action="@Url.Action("order")" method="post">
		<input type="hidden" name="order.SourceId" value="@ViewBag.SourceId" />
		<input type="hidden" name="order.RestaurantId" value="@ViewBag.RestaurantId" />
		<input type="hidden" name="order.UserGuid" id="userGuid" value="" />
		@foreach (var menu in deatail.Menus.OrderBy(m => m.Sequence))
		{
			String sectionImage = "";
			if (menu.Image != null && !menu.Image.IsEmpty())
			{
				sectionImage = String.Format("background-image: url({0});", Url.Content("~/Content/Uploads/" + menu.Image));
			}
			<div class="menuSection">
				<div class="sectionHeader" style="@sectionImage">
					<h3>@menu.Title</h3>
				</div>
				<ul>
					@foreach (var item in menu.RestaurantMenuItems)
					{
						<li class="menuItem">
							<input type="hidden" name="order.Items[@itemCounter].RestaurantMenuItemId" value="@item.ID" />
							<input type="hidden" name="order.Items[@itemCounter].Name" value="@item.Name" />
							<input type="hidden" name="order.Items[@itemCounter].Price" value="@item.Price" />
							<input type="hidden" name="order.Items[@itemCounter].Quantity" value="0" />
							<span class="quantity">0</span>
							<span class="price">@item.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-us"))</span>
							<span class="name">@item.Name</span>
						</li>
						itemCounter++;
					}
				</ul>
			</div>
		}
		<div class="bottomActionBar">
			<div id="orderAction">
				<button type="submit" class="btn btn-success" id="orderBttn"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>@Html.T("Checkout")</button>
				<div class="orderAmountWrap">@Html.T("Amount: ")<span id="orderAmount">$0.00</span></div>
			</div>
		</div>
	</form>
</div>
<div id="mask"></div>
<div id="quantitySelectBox">
	<div class="foodName"></div>
	<input type="number" min="0" max="50" name="quantity" value="1" class="quantityBox" />
	<div class="actionBttns">
		<button type="button" class="yesBttn">@Html.T("OK")</button>
		<button type="button" class="noBttn">@Html.T("Cancel")</button>
	</div>
	
</div>
<script>
	function initForm() {
		document.getElementById("orderForm").reset();
		if (window.sApp && sApp.getUserInfo) {
			$("#userGuid").val(sApp.getUserInfo().getUserUUID());
		}
	}
	
	initForm();
	$(function () {
		function formatNumber(n) {
			return n.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
		}
		var mark = $("#mask");
		var quantitySelectBox = $("#quantitySelectBox");
		var quantityBox = quantitySelectBox.find(".quantityBox");
		var orderActionBar = $(".bottomActionBar");
		var currentItem;
		var menuItems = $(".menuItem").on("click", function () {
			currentItem = $(this);
			showQuantityBox();
			quantityBox.val(currentItem.find("[name$=Quantity]").val()*1 || 1);
		});
		quantitySelectBox.find(".yesBttn").on("click", function () {
			var input = quantityBox.val() * 1;
			if (input >= 0 && input <= 50) {
				currentItem.find("[name$=Quantity]").val(input);
				currentItem.find(".quantity").text(input);
			}
			updateUI();
			hideQuantityBox();
		});
		quantitySelectBox.find(".noBttn").on("click", function () {
			hideQuantityBox();
		});
		
		function updateUI() {
			var totalItem = 0;
			var totalPrice = 0;
			menuItems.each(function () {
				var $this = $(this);
				var quantity = $this.find("[name$=Quantity]").val() * 1 || 0;
				var price = $this.find("[name$=Price]").val() * 1 || 0;
				totalItem += quantity;
				totalPrice += price * quantity;
			});
			if (totalItem > 0) {
				$("#orderAmount").text("$" + formatNumber(totalPrice) );
				orderActionBar.addClass("show");
			} else {
				orderActionBar.removeClass("show");
			}
		}
		function hideQuantityBox() {
			mark.removeClass("show");
			quantitySelectBox.removeClass("show");
		}
		function showQuantityBox() {
			mark.addClass("show");
			quantitySelectBox.addClass("show");
			setTimeout(function () {
				quantitySelectBox.find("input").focus();
			}, 500);
		}
	});
</script>