﻿@model List<SalesMount.Models.Forms.OrderItemForm>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
	Html.AddContentScript("~/Content/Js/jquery.sticky.js");
}
<div class="orderHistory orderReceipt">
	<div>
		<h2>@Html.T("Order is processing...")</h2>
		@Html.T("Please wait a moment.")
	</div>
	<div>
		<div id="listHeader">
			<div class="listHeader">
				<span class="price">@Html.T("Price")</span>
				<span class="quantity">@Html.T("Quantity")</span>
			</div>
		</div>

		<ul class="orderList">
			@foreach (var item in Model)
			{
				double price = item.Price * item.Quantity;
				<li>
					<span class="price">@price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-us"))</span>
					<span class="quantity">@item.Quantity</span>
					<span class="name">@item.Name</span>
				</li>
			}
		</ul>
	</div>
</div>
<script>
	$(function () {
		$("#listHeader").sticky({ topSpacing: 0 });
	});
</script>
