﻿@{
	ViewBag.Title = "Welcome";
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
	Html.AddContentScript("~/Scripts/jquery.scrollme.min.js");
}
<div class="section1 section">
	<div class="content">
		<img class="smLogo" src="~/Content/Images/logoHP.png" alt="SalesMount Logo" />
		<h1>SalesMount</h1>
		<h2>@Html.T("Assisted Ordering System")</h2>
	</div>
</div>
<div class="section2 section">
	<div class="content scrollme">
		<div
			data-when="enter"
			data-from="0.7"
			data-to="0"
			data-opacity="0"
			data-translatey="-100"
			class="atRestaurant1 animateme">@Html.RawT("At rush hour of restaurant")</div>
		<div data-when="exit"
			 data-from="1"
			 data-to="0"
			 data-opacity="0"
			 data-translatey="100"
			 class="atRestaurant2 animateme">@Html.RawT("Usually, <span class=\"redStrong\"> no staff </span> to service you?")</div>
	</div>
</div>
<div class="section3 section">
	<div class="content">
		<div class="scrollme">
			<div id="nfcPhone">
				<div id="nfcIcon">
					<img data-when="exit"
						 data-from="0.5"
						 data-to="0"
						 data-translatey="-100" class="animateme" src="~/Content/Images/nfc.png" />
				</div>
				<img data-when="exit"
					 data-from="0.9"
					 data-to="0"
					 data-opacity="0"
					 data-scale="0.2" class="animateme" id="appScreen" src="~/Content/Images/app.png" />
				<img data-when="exit"
					 data-from="0.5"
					 data-to="0"
					 data-opacity="0"
					 data-scale="1.2"
					 data-translatex="-100" id="phoneOverNfc" class="animateme" src="~/Content/Images/phone2.png" />
			</div>
		</div>
		
		<div class="scrollme animateme"
			 data-when="exit"
			 data-from="0.4"
			 data-to="0"
			 data-opacity="0">
			<div class="tapNfc1">
				@Html.RawT("<span class=\"redStrong\">Tap </span> SalesMount NFC tag")
			</div>
			<div class="tapNfc2">
				@Html.RawT("To")
			</div>
			<div class="tapNfc3">
				@Html.RawT("<span class=\"redStrong\">Get </span>menu and <span class=\"redStrong\">Order </span>food")
			</div>
		</div>
		
	</div>
</div>
<div class="section4 section">
	<div class="content scrollme">
		<div class="waiting">
			<span data-when="exit"
				  data-from="0.6"
				  data-to="0"
				  data-opacity="0"
				  data-translatex="100" class="animateme">@Html.T("Wait")</span>
			<span data-when="exit"
				  data-from="0.9"
				  data-to="0"
				  data-opacity="0"
				  data-translatey="100" class="animateme">@Html.T("A While")</span>
			<span data-when="exit"
				  data-from="0.6"
				  data-to="0"
				  data-opacity="0"
				  data-translatex="-100" class="animateme">...</span>
		</div>
	</div>
</div>
<div class="section5 section">
	<div class="content scrollme">
		<div data-when="exit"
			 data-from="0.9"
			 data-to="0"
			 data-opacity="0"
			 data-translatey="-130" class="animateme dining">
			@Html.T("Time to dining!")
		</div>
	</div>
</div>
<div class="section sectionDownload">
	<div class="content">
		<h2>@Html.T("Get Apps Now!")</h2>
		<a href="https://play.google.com/store/apps/details?id=com.salesmount.android" class="androidPlayLink" target="_blank">
			<img src="~/Content/Images/getAndroidApp.png" alt="Get Android App" />
		</a>
	</div>
</div>